# Beispieldatei mit eigenen Werten befüllen und unter .env abspeichern
MITGLIEDERLISTE_INPUT=/home/tilot/Nextcloud4/Documents/hzd-rg-nord/rg-nord-mitglieder-20250617.csv
VORLAGEN_DIR=/home/tilot/Nextcloud4/Documents/hzd-rg-nord/Vorlagen