DATABASE_URL=file:./data/applications.db
SMTP_HOST=mailhog.tt-homeoffice.lan
SMTP_PORT=1025
SMTP_SECURE=false
WORKFLOW_ENDPOINT_URL=https://kestra.tt-homeoffice.lan/api/v1/executions/webhook/hzd.og-hh/take-antrag/test
#WORKFLOW_ENDPOINT_USER=hzd_automat
#WORKFLOW_ENDPOINT_PASSWORD=secret4711
WORKFLOW_IGNORE_SSL=true
DISABLE_DDOS_CHECK=true